.trophy {
  max-width: 783px;
  height: 440px;
  position: relative;
  margin-bottom: 30px
}
.tour1,.tour2,.tour3,.tour4,.tour5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tour1 {
  background: url(../../img/t1.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.tour2 {
  background: url(../../img/t3.jpg)no-repeat;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.tour3 {
    background: url(../../img/t6.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}