.wilder {
    position: relative;
    max-width: 783px;
    height: 440px;
    margin-bottom: 30px;
}
.wild1,.wild2,.wild3,.wild4,.wild5 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.wild1 {
    background: url(../../img/waters.jpg)no-repeat;
    background-size: 100%;
      animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;
  
} 
.wild2 {
    background: url(../../img/green.jpg)no-repeat center;
        background-size: cover;
      animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
}
.wild3 {
      background: url(../../img/w50.jpg)no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      animation:fade3 8s infinite;
  -webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
}
  @keyframes fade3
{
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
}
